.trail-control {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.color-pickers {
    width: 70%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.trail-size {
    flex-grow: 1;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    color: hsl(157, 71%, 60%);
    margin-bottom: 10px;
}

.input-range {
    width: 70%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.input-range .input {
    width: 100%;
}

.trail-preview {
    width: 70%;

    display: flex;
}

.trail-preview-cell {
    width: 2.5%;
    height: 20px;
    border: 1px solid black;
    font-size: 10px;
    color: black;
    padding: 2px;
}
