.button {
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 60px;
	height: 60px;
	background-color: white;
	background-image: url('../../assets/icons/gear-icon.svg');
	background-size: 100% 100%;
	border-radius: 50%;
	border: 1px solid white;
	cursor: pointer;
}
