.pattern-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
    height: 116px;
}

.patternName {
    height: 36px;
    text-align: center;
    color: white;
    font-size: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.selected .patternName {
    color: hsl(157, 71%, 60%);
}
