.pattern-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 130px;
    height: 150px;
}

.patternName {
    text-align: center;
    color: white;
    font-size: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
    white-space: nowrap;
}

.selected .patternName {
    color: hsl(157, 71%, 60%);
}
