.info {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: var(--textColor);
	text-shadow: 0 0 5px var(--backgroundColor);
	opacity: 1;
	transition: opacity 1200ms;
}

.info--hide{
	opacity: 0;
	transition: none;
}

.pattern {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	margin-top: 10px;
	width: 230px;
}

.generationNum {
	margin-top: 5px;
	font-size: 20px;
}
