:root {
	--backgroundColor: black;
	--modalBackgroundColor: rgba(0, 0, 0, 0.9);
	--textColor: white;
	--accentColor: hsl(213, 99%, 50%);

	--closeIconDark: url('../assets/icons/close-icon-dark.svg');
	--gearIconDark: url('../assets/icons/gear-icon-dark.svg');
	--patternIconDark: url('../assets/icons/pattern-icon-dark.svg');
	--speedIconDark: url('../assets/icons/speed-icon-dark.svg');
	--trailIconDark: url('../assets/icons/trail-icon-dark.svg');
	
	--closeIconLight: url('../assets/icons/close-icon-light.svg');
	--gearIconLight: url('../assets/icons/gear-icon-light.svg');
	--patternIconLight: url('../assets/icons/pattern-icon-light.svg');
	--speedIconLight: url('../assets/icons/speed-icon-light.svg');
	--trailIconLight: url('../assets/icons/trail-icon-light.svg');
	
	--closeIcon: var(--closeIconDark);
	--gearIcon: var(--gearIconDark);
	--patternIcon: var(--patternIconDark);
	--speedIcon: var(--speedIconDark);
	--trailIcon: var(--trailIconDark);
}

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: var(--backgroundColor);
	font-family: 'Roboto Light', arial, sans-serif;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
	transition: background 1.5s;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
	width: 100%;
	overflow: hidden;
}
