.input-range-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 20%;
    align-items: center;
    justify-content: center;
}
.value {
    font-size: 40px;
    font-weight: bold;
    color: var(--accentColor);
    margin-bottom: 10px;
}

.input {
    width: 100%;
}
