.button {
	text-align: center;
	height: 60px;
	line-height: 30px;
	width: 191px;
	background-color: rgba(0, 0, 0, 0);
	color: hsl(157, 71%, 60%);
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 5px;
	font-size: 22px;
	font-weight: bold;
	cursor: pointer;
}

.button:disabled {
	background-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-moz-tap-highlight-color: rgba(0, 0, 0, 0);
	cursor: default;
}

.menu-container {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.menu {
	position: absolute;
	background: white;
	border: 1px solid white;
	max-height: 145px;
	overflow-y: scroll;
}

.menu-item {
	background: black;
	font-size: 20px;
	padding: 4px 10px;
	cursor: pointer;
	color: rgba(255, 255, 255, 0.6);
}

.menu-item:hover {
	background: rgba(0, 0, 0, 0.8);
	color: white;
}

.menu-item-selected {
	color: hsl(157, 71%, 60%);
}
